<script>
function toggle_checkall(field_name, state) {
  var checkboxes = document.getElementsByTagName('input');
  var count = checkboxes.length;
  for (var i = 0; i < count; i++) {
    if (checkboxes[i].type == "checkbox"
        && checkboxes[i].name == field_name + "_ids[]") {
      checkboxes[i].checked = state;
    }
  }
}
</script>

<div class="container-fluid">
  <div class="row">

    <div class="col-sm-2">
      <%= render "shared/sidenav" %>
    </div>

    <div class="col-sm-10">

      <div class="panel panel-primary filterable">
        <div class="panel-heading">

          <% if student_logged_in? %>
              <h3 class="panel-title">预选课程</h3>
          <% end %>
        </div>

        <div class="panel-body">
          <table class="table table-responsive table-condensed table-hover">
            <% sum = 0 %>
            <thead>
            <tr>
              <th><input type="checkbox" onclick="toggle_checkall('course', this.checked);" /></th>
              <th>课程编号</th>
              <th>课程名称</th>
              <th>课时/学分</th>
              <th>考试方式</th>
              <th>主讲教师</th>
              <th>删除</th>
              <th>是否为学位课</th>
            </tr>

            <tbody>
            <% @course.each do |course| %>
                <% if course.status==1 %>
                <tr>
                  <td><%= check_box_tag "course_ids[]", course.id %></td>
                  <td><%= course.course_code %></td>
                  <td><%= course.name %></td>
                  <td><%= course.credit %></td>
                  <% sum = sum.to_i + ((course.credit.to_s.split("/"))[course.credit.to_s.split("/").length - 1]).to_i%>
                  <td><%= course.exam_type %></td>
                  <td><%= course.teacher.name %></td>
                  <td><%= link_to "删除", prequit_course_path(course), class: 'btn-sm btn-danger' %></td>
                   <% grade=current_user.grades.find_by(course_id: course.id)%>
                    <% if grade.xueweike == true %>
                        <td><%= link_to "是",  prexueweike_course_path(course),  class: 'btn btn-xs btn-success' %></td>
                    <% elsif grade.xueweike == false %>
                        <td><%= link_to "否", prexueweike_course_path(course),  class: 'btn btn-xs btn-warning' %></td>
                    <%end%>
                </tr>
                <% end %>
        
            <% end %>
            <td></td>
            <td></td>
            <% if $is_opensystem %>
              <td><%= link_to "一键选课", selectprecourses_courses_path, class: 'btn-lg btn-success' %></td>
            <% end %>
            
            </tbody>
            
          </table>
          <%= link_to "删除勾选课程", class: 'btn-sm btn-danger' %><br /><br />
        <br />已选学分: <%= sum %>
        
        
        </div>
      </div>
    </div>
  </div>
</div>